
body {
    font-family: "Calibre", system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    font-size: 1.2rem;
}
#overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}

#addBook {
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -200px;
    border: 3px lightskyblue solid;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    display: grid;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    border: 2px lightblue solid;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 5px;
}

p {
    border: 2px lightblue solid;
    border-radius: 3px;
    padding: 5px;
}

input {
 border: solid lightgreen 2px;
 border-radius: 3px;
 padding: 3px;
}

#library {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, 1fr);
    grid-gap: 50px;
    padding: 10px; 
}

#library > div {
    border: solid seagreen;    
    height: auto;
    width: 250px;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}

#library > div > p, 
#library > div > h1 {
    padding: 5px;
    border: 2px solid lightskyblue;
    margin: 0px;
}

#library > div > h1 {
    font-size: 18px;
    border: 1px solid orange;
}

/* creates an angled corner effect
    .card {
    background-color: rgb(255, 255, 152);
    clip-path: polygon(10% 0%,100% 0%,100% 100%,0% 100%,0% 10%);
} */

